@model Sklep.WebApp.Models.DTO.OrderDTO
@{
    ViewBag.Title = "CheckOut";
}

<h2>CheckOut</h2>
<script>
    $(document).ready(function () {
        var o = { CartID:"2028", UserID:"3" };
        $.ajax({
            type: "POST",
            url: "http://localhost:3060/OrderService.svc/Orders/Add",
            data: JSON.stringify(o),
            contentType: "application/json",
            dataType: "json",
            processData: true,
            success: function () {
                alert("success...");
            },
            error: function () {
                alert("not working");
            }
        });
    });
</script>
  
