@model Sklep.WebApp.Models.Identity.Login
@{
    ViewBag.Title = "LogIn";
}

<h2>LogIn</h2>
@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
 @Html.AntiForgeryToken();   
    @Html.EditorForModel()
    <p>
        <button type="submit" class="btn btn-success" >Log in</button>
        @ViewBag.sprawdz
    </p>
}
