@model Sklep.WebApp.Models.Identity.Register
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    <p>
        <button type="submit" class="btn btn-success">Submit</button>
    </p>
}